// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Blue
$bluePrimaryColor: rgba(47, 79, 79, 0.75);

//Palette Black
$blackPrimaryColor: black;
$whitePrimaryColor: white;

