// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Blue
$bluePrimaryColor: #023e7d;

//Palette Black
$blackPrimaryColor: black;
$whitePrimaryColor: rgba(245, 245, 245, 0.5);

