.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;

  .contact__video {
    border: solid 2px red;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 95%;
    height: 250px;
    /* @include desktop{
        height: 500px;
    } */
  }

  .contact__description {
    background-color: rgba(245, 245, 245, 0.5);
    box-shadow: rgba(0, 0, 0, 0.589) 0px 5px 15px;
    padding: 40px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;

    p {
        text-align: justify;
        font-family: "Gemunu Libre", sans-serif;
        font-weight: 500;
        color: $blackPrimaryColor;
    }
  }
}
